<div class="review-view">
    <h4>The review:</h4>
    <div class="mathjax">
        {% for content in data %}
            <div><b>Rubric question:</b> {{ content.question }}</div>
            
                <div>
                    <b>Answer:</b> {{ content.answer }}
                    <small class="pale-text">
                        <!-- ({%  widthratio content.grade content.max_grade 100 %} point{{ content.grade | pluralize }} out of {%  widthratio content.max_grade content.max_grade 100 %}) -->
                        ({{content.grade}} point{{ content.grade | pluralize }}) 
                        <!-- ({%  widthratio content.grade content.max_grade 100 %}&#37) -->
                    </small>
                    <br/>
                    <b>Reason:</b> {{ content.reason | linebreaks }}
                </div>

            <h2></h2>
        {% endfor %}
    </div>
</div>